@media screen and (max-width: 600px) {
    #burger {
        display: block;
        background-color: var(--dark0);
        color: white;
        padding-left: 15px;
    }

    #burger:hover {
        cursor: pointer;
    }

    menu {
        display: none; 
    }

    menu > ul > li {
        display: block;
        border-bottom: 1px solid white;
        padding: 5px;
    }

    menu a {
        display: block;
    }

    menu a:hover {
        transition: 0.35s;
        background-color: transparent;
        filter: drop-shadow(2px -2px 5px #6978ff7a);
    }

    menu li:hover {
        background-color: var(--dark3);
    }

    #pSkills {
        padding: 10px;
    }

    .linguagem {
        height: 130px;
        width: 130px;
    }

    .linguagem > img {
        max-height: 80px;
    }

    #sobreLinguagem {
        width: 80vw;
    }

    .project {
        max-width: 280px;
        height: 280px;
    }

    .rsocial {
        margin: 5px;
        padding-bottom: 50px;
    }

    .socialSub {
        font-size: 1.05em;
    }

    footer {
        padding: 10px;
    }

    #ghPages {
        display: none;
    }
}